<h2>게시글 상세</h2>
<hr />
<h3>
    <a th:href="@{/}" style="text-decoration: none">Main</a>
    <span>
        <a th:href="@{/signout}" style="text-decoration: none"> Sign Out </a>
    </span>
</h3>
<hr />
<div>
    <div>
        <div>
            <p th:text="'글번호 : ' + ${board.id} + '번'"></p>
            <p th:text="'제목 : ' + ${board.title}"></p>
            <p th:text="'작성자 : ' + ${board.writer}"></p>
            <p th:text="'작성내용 : ' + ${board.content}"></p>
            <p th:text="'최초작성일시 : ' + ${board.dtWrite}"></p>
            <p th:text="'최근수정일시 : ' + ${board.dtWrtMdfy}"></p>
        </div>
    </div>
</div>
<hr />
<div>
    <div th:if="${session.user_info.id == board.userId}">
        <ul>
            <button>
                <a th:href="@{/board/list}" id="list">목록</a>
            </button>
            <button>
                <a th:href="@{/board/update/{id}(id=${board.id})}" id="update"
                    >수정</a
                >
            </button>
            <button>
                <a href="#delete" id="delete" th:num="${board.id}">삭제</a>
            </button>
        </ul>
    </div>
    <div th:unless="${session.user_info.id == board.userId}">
        <ul>
            <li>
                <a th:href="@{/board/list}" id="list">목록</a>
            </li>
        </ul>
    </div>
</div>

<script>
    document.querySelector("#delete").addEventListener("click", (e) => {
        e.preventDefault();
        if (confirm("삭제하시겠습니까?")) {
            const num = e.target.getAttribute("num");
            location = `/board/delete/${num}`;
        }
    });
</script>
