<h2>게시글 작성</h2>
<hr />
<h3>
    <a th:href="@{/}" style="text-decoration: none">Main</a>
    <span>
        <a th:href="@{/signout}" style="text-decoration: none"> Sign Out </a>
    </span>
</h3>
<hr />
<form method="post" action="/board/write">
    <div>
        <label for="title">Title</label><br />
        <input type="text" id="title" name="title" size="35" />
    </div>
    <br />
    <div>
        <label for="content">Content</label><br />
        <textarea rows="10" cols="37" name="content" id="content"></textarea>
    </div>
    <br />
    <div>
        <button id="complete">작성 완료</button>
    </div>
</form>
