<!-- <p>
    "이메일 또는 비밀번호가 잘못 입력되었습니다.<span id="timer">3</span>초 후
    다시 입력바랍니다.
</p>

<script>
    let count = parseInt(document.getElementById("timer").textContent);

    const timer = setInterval(() => {
        count--;
        document.getElementById("timer").textContent = count;

        if (count <= 0) {
            clearInterval(timer);
            location.href = "/checkinfo";
        }
    }, 1000);
</script> -->

<script>
    alert("이메일 또는 비밀번호가 잘못 입력되었습니다. 다시 입력 바랍니다.");
    location.href = document.referrer;
</script>
